extends ../template

block variables
    - var title = 'Карта сайта'

block content
    main
        section.site-map.pt-100
            .container
                h1 Карта сайта
                table.site-map__table
                    tr.site-map__row
                        td.site-map__cell
                            a.site-map__link(href="temporary.html") Временная страница
                    tr.site-map__row
                        td.site-map__cell
                            a.site-map__link(href="main.html") Главная
                        td.site-map__cell
                            a.site-map__link(href="faq.html") FAQ
                        td.site-map__cell
                            a.site-map__link(href="about-company.html") О компании
                        td.site-map__cell
                            a.site-map__link(href="contacts.html") Контакты
                    tr.site-map__row
                        td.site-map__cell
                            a.site-map__link(href="catalog.html") Каталог
                        td.site-map__cell
                            a.site-map__link(href="catalog-item.html") Карточка
                        td.site-map__cell
                            a.site-map__link(href="news.html") Новости
                        td.site-map__cell
                            a.site-map__link(href="news-item.html") Новость
                    tr.site-map__row
                        td.site-map__cell
                            a.site-map__link(href="services.html") Услуги
                        td.site-map__cell
                            a.site-map__link(href="services-item-1.html") Хостинг
                        td.site-map__cell
                            a.site-map__link(href="services-item-2.html") Сервисный центр
                        td.site-map__cell
                            a.site-map__link(href="services-item-3.html") Контейнеры
                        td.site-map__cell
                            a.site-map__link(href="services-item-4.html") Прошивки
                    tr.site-map__row
                        td.site-map__cell
                            a.site-map__link(href="reviews.html") Отзывы
                        td.site-map__cell
                            a.site-map__link(href="producers.html") Производители
                        td.site-map__cell
                            a.site-map__link(href="shipping.html") Доставка и оплата
                        td.site-map__cell
                            a.site-map__link(href="compare.html") Сравнение товаров
                        td.site-map__cell
                            a.site-map__link(href="compare-empty.html") Сравнение товаров (empty)
                        td.site-map__cell
                            a.site-map__link(href="cart.html") Корзина
                    tr.site-map__row
                        td.site-map__cell
                            a.site-map__link(href="lk-registration.html") ЛК Регистрация
                        td.site-map__cell
                            a.site-map__link(href="lk-registration-success.html") ЛК Регистрация Успешно
                        td.site-map__cell
                            a.site-map__link(href="lk-login.html") Вход
                        td.site-map__cell
                            a.site-map__link(href="lk-data.html") Личные данные
                        td.site-map__cell
                            a.site-map__link(href="lk-orders.html") Мои заказы
                        td.site-map__cell
                            a.site-map__link(href="lk-fav.html") Избранное