extends ../template

block variables
    - var title = 'Карта сайта'

block content
    main
        section.site-map.pt-100
            .container
                h1 Карта сайта
                table.site-map__table
                    tr.site-map__row
                        td.site-map__cell
                            a.site-map__link(href="temporary.html") Временная страница
                    tr.site-map__row
                        td.site-map__cell
                            a.site-map__link(href="main.html") Главная
                        td.site-map__cell
                            a.site-map__link(href="faq.html") FAQ
                    tr.site-map__row
                        td.site-map__cell
                            a.site-map__link(href="catalog.html") Каталог
                        td.site-map__cell
                            a.site-map__link(href="catalog-item.html") Карточка
                        td.site-map__cell
                            a.site-map__link(href="news.html") Новости
                        td.site-map__cell
                            a.site-map__link(href="news-item.html") Новость