extends ../template

block variables
    - var title = 'Главная'

block content
    main
        section.main-screen
            .container
                h1.main-screen__title Продажа оборудования для майнинга