extends ../template

block variables
    - var title = 'Главная'

block content
    main
        // Главный экран
        section.main-screen.pt-100
            .container
                .main-screen__text-wrap
                    h1.main-screen__title Продажа оборудования для майнинга
                    a.main-screen__btn.btn.btn-gradient(href="#") 
                        span В каталог
                .main-screen__svg
                    svg.main-screen__block(width="735" height="879")
                        use(xlink:href="assets/images/sprite.svg#block-animation-1")
                    svg.main-screen__bot(width="924" height="438")
                        use(xlink:href="assets/images/sprite.svg#mining-bottom")
        
        // Производители
        section.producers
            .container
                h2.producers__title.title-second Производители
                ul.producers__list.cards-list.cards-list_col-3
                    li.cards-list__item
                        a.cards-list__link(href="#")
                            img(src="assets/images/whatsminer-m30s.png", alt="whatsminer-m30s")
                            .cards-list__btn.btn.btn-ghost
                                span Whatsminer
                    li.cards-list__item 
                        a.cards-list__link(href="#")
                            img(src="assets/images/whatsminer-m30s.png", alt="whatsminer-m30s")
                            .cards-list__btn.btn.btn-ghost
                                span Whatsminer
                    li.cards-list__item 
                        a.cards-list__link(href="#")
                            img(src="assets/images/whatsminer-m30s.png", alt="whatsminer-m30s")
                            .cards-list__btn.btn.btn-ghost
                                span Whatsminer

        // Каталог слайдер
        section.catalog-slider
            .container
                .catalog-slider__title-wrap.title-wb
                    h2.title-wb__title.title-second Каталог
                    a.title-wb__link(href="#") Смотреть все
                        //- svg(width="16" height="16")
                        //-     use(xlink:href="assets/images/sprite.svg#arrow-back-outline")
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.78022 12.6667C6.87981 12.667 6.97822 12.645 7.06821 12.6024C7.15819 12.5597 7.23747 12.4974 7.30022 12.42L10.5202 8.42002C10.6183 8.30073 10.6719 8.1511 10.6719 7.99669C10.6719 7.84227 10.6183 7.69264 10.5202 7.57335L7.18688 3.57335C7.07372 3.43721 6.91112 3.35159 6.73483 3.33534C6.55855 3.31909 6.38303 3.37353 6.24688 3.48669C6.11074 3.59985 6.02512 3.76245 6.00887 3.93874C5.99262 4.11502 6.04706 4.29054 6.16022 4.42669L9.14022 8.00002L6.26022 11.5734C6.17869 11.6712 6.12691 11.7904 6.11099 11.9167C6.09507 12.0431 6.11568 12.1714 6.17039 12.2864C6.22509 12.4014 6.3116 12.4984 6.41967 12.5658C6.52774 12.6332 6.65286 12.6682 6.78022 12.6667Z" fill="url(#cat)"/>
                            <defs>
                                <linearGradient id="cat" x1="10.6719" y1="4.54597" x2="5.84442" y2="4.67956" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#180269"/>
                                    <stop offset="0.515625" stop-color="#180269"/>
                                    <stop offset="1" stop-color="#180269"/>
                                </linearGradient>
                            </defs>
                        </svg>
                .catalog-slider__slider
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                include ../components/card-item.pug
                            .swiper-slide
                                include ../components/card-item.pug
                            .swiper-slide
                                include ../components/card-item.pug
                            .swiper-slide
                                include ../components/card-item.pug
                            .swiper-slide
                                include ../components/card-item.pug
                    
                    .swiper-button.swiper-button-prev
                    .swiper-button.swiper-button-next

        // О компании
        section.main-about
            svg.main-about__img(width="398" height="386")
                use(xlink:href="assets/images/sprite.svg#bg-1")
            svg.main-about__img-wave
                use(xlink:href="assets/images/sprite.svg#wave")
            .container
                .main-about__text
                    h2.main-about__title.title-second О компании
                    p Мы - быстро развивающийся и современный магазин оборудования для майнинга. Исходя из своего опыта мы всегда поможем в выборе и подскажем клиенту что будет более подходящим вариантом покупки на заданный бюджет.
                    a.main-about__btn.btn.btn-ghost.btn-ghost_white(href="#") Подробнее о компании
                ul.main-about__static.static-list
                    li.static-list__item
                        .static-list__term 100+
                        .static-list__desc тысяч довольных покупателей
                    li.static-list__item
                        .static-list__term 50
                        .static-list__desc асиков в наличии
                    li.static-list__item
                        .static-list__term 94+
                        .static-list__desc тысячи положительных отзывов
                    li.static-list__item
                        .static-list__term 13
                        .static-list__desc складов в России

        // Партнеры
        section.partners
            .container
                h2.partners__title.title-second Наши партнеры
                
                .partners__slider
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                a.partners__item(href="#")
                                    img(src="assets/images/bitmain.png", alt="")
                            .swiper-slide
                                a.partners__item(href="#")
                                    img(src="assets/images/baikal.png", alt="")
                            .swiper-slide
                                a.partners__item(href="#")
                                    img(src="assets/images/innosilicon.png", alt="")
                            .swiper-slide
                                a.partners__item(href="#")
                                    img(src="assets/images/whatsminer.png", alt="")
                            .swiper-slide
                                a.partners__item(href="#")
                                    img(src="assets/images/canaan.png", alt="")
                            .swiper-slide
                                a.partners__item(href="#")
                                    img(src="assets/images/bitfury.png", alt="")
                    .swiper-button.swiper-button-prev
                    .swiper-button.swiper-button-next

        // Новости
        section.main-news.mb-100
            .container
                .title-wb
                    h2.title-wb__title.title-second Новости
                    a.title-wb__link(href="#") Все новости
                        //- svg(width="16" height="16")
                        //-     use(xlink:href="assets/images/sprite.svg#arrow-back-outline")
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.78022 12.6667C6.87981 12.667 6.97822 12.645 7.06821 12.6024C7.15819 12.5597 7.23747 12.4974 7.30022 12.42L10.5202 8.42002C10.6183 8.30073 10.6719 8.1511 10.6719 7.99669C10.6719 7.84227 10.6183 7.69264 10.5202 7.57335L7.18688 3.57335C7.07372 3.43721 6.91112 3.35159 6.73483 3.33534C6.55855 3.31909 6.38303 3.37353 6.24688 3.48669C6.11074 3.59985 6.02512 3.76245 6.00887 3.93874C5.99262 4.11502 6.04706 4.29054 6.16022 4.42669L9.14022 8.00002L6.26022 11.5734C6.17869 11.6712 6.12691 11.7904 6.11099 11.9167C6.09507 12.0431 6.11568 12.1714 6.17039 12.2864C6.22509 12.4014 6.3116 12.4984 6.41967 12.5658C6.52774 12.6332 6.65286 12.6682 6.78022 12.6667Z" fill="url(#paint0_linear_187_21587)"/>
                            <defs>
                                <linearGradient id="paint0_linear_187_21587" x1="10.6719" y1="4.54597" x2="5.84442" y2="4.67956" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#180269"/>
                                    <stop offset="0.515625" stop-color="#180269"/>
                                    <stop offset="1" stop-color="#180269"/>
                                </linearGradient>
                            </defs>
                        </svg>
                .main-news__grid
                    a.main-news__item.main-news__item--big(href="#")
                        img(src="assets/images/mnews-1.png", alt="")
                        .main-news__text-wrap
                            time.main-news__time(datetime="2021-10-30") 30.10.2021
                            p.main-news__text Забытый Bitcoin-кошелёк неожиданно «ожил» впервые с 2010 года — за это время его содержимое подорожало в 750 тыс. раз
                    a.main-news__item(href="#")
                        img(src="assets/images/mnews-2.png", alt="")
                        .main-news__text-wrap
                            time.main-news__time(datetime="2021-10-30") 30.10.2021
                            p.main-news__text Забытый Bitcoin-кошелёк неожиданно «ожил» впервые с 2010 года — за это время его содержимое подорожало в 750 тыс. раз
                    a.main-news__item(href="#")
                        img(src="assets/images/mnews-3.png", alt="")
                        .main-news__text-wrap
                            time.main-news__time(datetime="2021-10-30") 30.10.2021
                            p.main-news__text Забытый Bitcoin-кошелёк неожиданно «ожил» впервые с 2010 года — за это время его содержимое подорожало в 750 тыс. раз

        // About text
        include ../components/about-block.pug 