extends ../template

block variables
    - var title = 'Отзывы'

block content
    main
        // Отзывы
        section.reviews.mb-120
            .heading.pt-100.mb-60
                .container
                    include ../components/breadcrumbs.pug
                    h1.heading__title.title-first Отзывы

            .reviews__container.container
                .reviews__sort.reviews-sort.mb-50
                    .reviews-sort__item
                        input.visually-hidden(id="review-asics" type="radio" name="types" value="asics" checked)
                        label.reviews-sort__btn(for="review-asics")
                            span Майнинги ASIC
                            span.reviews-sort__num 10
                    .reviews-sort__item
                        input.visually-hidden(id="review-services" type="radio" name="types" value="asics")
                        label.reviews-sort__btn(for="review-services")
                            span Услуги
                            span.reviews-sort__num 20
                    .reviews-sort__item
                        input.visually-hidden(id="review-products" type="radio" name="types" value="asics")
                        label.reviews-sort__btn(for="review-products")
                            span Продукция
                            span.reviews-sort__num 100

                    //- button.reviews-sort__btn.active
                    //-     span Майнинги ASIC
                    //-     span.reviews-sort__num 10
                    //- button.reviews-sort__btn
                    //-     span Услуги
                    //-     span.reviews-sort__num 20
                    //- button.reviews-sort__btn
                    //-     span Продукция
                    //-     span.reviews-sort__num 100
                ul.reviews__list
                    li.reviews__item.reviews-item
                        .reviews-item__text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In proin et volutpat scelerisque orci semper adipiscing. Ultrices nunc nibh amet, molestie eu. Ac eget quis vel ornare sed mauris. 
                            p Libero, augue pharetra, tellus aliquam hac tellus in venenatis. Enim elementum sagittis elementum feugiat purus, dignissim quis lorem pellentesque. Convallis bibendum ac tellus id. 
                            p Eget eget venenatis, dui at erat bibendum. Et nullam ultrices sed et ullamcorper sit vitae tempus dignissim. Fusce maecenas cras sit pellentesque bibendum id. 

                        .reviews-item__bot
                            .reviews-item__author
                                img(src="assets/images/ava.png" alt="")
                                span Андрей Андреев
                            .reviews-item__logo
                                img(src="assets/images/svg/vk.svg" alt="")
                    
                    li.reviews__item.reviews-item
                        .reviews-item__text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu enim aliquet scelerisque fusce. Turpis et arcu, enim dignissim metus, et morbi tempor. Turpis nisi, nam nec massa, enim aenean dolor. Sed quis sit viverra. 

                        .reviews-item__bot
                            .reviews-item__author
                                img(src="assets/images/ava.png" alt="")
                                span Андрей Андреев
                            .reviews-item__logo
                                img(src="assets/images/svg/vk.svg" alt="")

                    li.reviews__item.reviews-item
                        .reviews-item__text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu enim aliquet scelerisque fusce. Turpis et arcu, enim dignissim metus, et morbi tempor. Turpis nisi, nam nec massa, enim aenean dolor. Sed quis sit viverra.

                        .reviews-item__imgs
                            img(src="assets/images/whatsminer-m30s.png", alt="")
                            img(src="assets/images/whatsminer-m30s.png", alt="")

                        .reviews-item__bot
                            .reviews-item__author
                                img(src="assets/images/ava.png" alt="")
                                span Андрей Андреев
                            .reviews-item__logo
                                img(src="assets/images/svg/vk.svg" alt="")
                    
                    li.reviews__item.reviews-item
                        .reviews-item__text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In proin et volutpat scelerisque orci semper adipiscing. Ultrices nunc nibh amet, molestie eu. Ac eget quis vel ornare sed mauris. 
                            p Libero, augue pharetra, tellus aliquam hac tellus in venenatis. Enim elementum sagittis elementum feugiat purus, dignissim quis lorem pellentesque. Convallis bibendum ac tellus id. 
                            p Eget eget venenatis, dui at erat bibendum. Et nullam ultrices sed et ullamcorper sit vitae tempus dignissim. Fusce maecenas cras sit pellentesque bibendum id. 

                        .reviews-item__bot
                            .reviews-item__author
                                img(src="assets/images/ava.png" alt="")
                                span Андрей Андреев
                            .reviews-item__logo
                                img(src="assets/images/svg/vk.svg" alt="")

                .reviews__pagination.pagination
                    .pagination__progress-bar.progress
                        span.progress__text Отображается 12 из 20
                        .progress__bar
                            .progress__bar-ident
                    button.pagination__btn-more.btn.btn-ghost Показать больше

        // About text
        include ../components/about-block.pug 