extends ../template

block variables
    - var title = 'Услуги'

block content
    main
        // Услуги
        section.services-item.mb-120
            .heading.pt-100.mb-60
                .container
                    include ../components/breadcrumbs.pug
                    h1.heading__title.title-first Услуги
            
            .services-item__container.container
                ul.services-item__side.nav-side
                    li.nav-side__item
                        a.nav-side__link(href="#") Хостинг
                    li.nav-side__item
                        a.nav-side__link(href="#") Сервисный центр
                    li.nav-side__item
                        a.nav-side__link.active(href="#") Контейнеры
                    li.nav-side__item
                        a.nav-side__link(href="#") Прошивки

                .services-item__content
                    .services-item__block.mb-40
                        h2.services-item__title.title-second.mb-30 Контейнеры
                        .services-item__banner
                            img(src="assets/images/services-3.jpg", alt="")
                    .services-item__block.mb-50
                        h3.services-item__title.title-third.mb-30 Мобильные контейнеры для промышленного майнинга биткоинов и других криптовалют
                        p Арендуя площади под промышленную майнинг ферму, вам приходится учитывать:
                        ul.content-list
                            li.content-list__item Величину арендной платы.
                            li.content-list__item Стоимость электроэнергии.
                            li.content-list__item Наличие коммуникаций.
                            li.content-list__item Охранных систем и т.д.
                        p Стоит измениться условиям аренды, подорожать электричеству, и ферма вместо прибыли начинает приносить одни убытки. Мобильный контейнер для майнинг ферм раз и навсегда решает вопрос с арендой и поиском дешевой электроэнергии.
                        a.services-item__btn.btn.btn-ghost(href="#") Заказать услугу

                    .services-item__block
                        h3.services-item__title.title-third.mb-30 Ремонт оборудования
                        p Мобильный ЦОД позволит вам не зависеть от постоянного места дислокации. Перевозите его в любой регион с дешевой электроэнергией и увеличивайте свою прибыль. К тому же, на новом месте вам не придется снова решать вопрос с обустройством инженерных сетей – вы сохраняете до 70% инвестированных средств при каждом переезде.
                        p Контейнер для майнинга собирается на базе морского 20, 40 футового контейнера либо 10 футового сварного каркаса. В нем уже смонтированы все коммуникации, остается только подключить оборудование. Вы также можете заказать сборку мобильной фермы по индивидуальному проекту – все ваши пожелания и технические требования будут учтены. Пуско-наладочные работы проводят наши специалисты на месте установки ЦОД.
                        p С контейнером вы получаете всю необходимую документацию:
                        ul.content-list
                            li.content-list__item Проект электросетей.
                            li.content-list__item Проект вентиляционной системы и архитектуры.
                            li.content-list__item Сертификат на все электроустановки и сам контейнер, для официального подключения к электросетям.

                        p Мобильный ЦОД оборудован:
                        ul.content-list
                            li.content-list__item Охранной системой.
                            li.content-list__item Электропроводкой с контроллерами-автоматами.
                            li.content-list__item Системой видеонаблюдения и пожаротушения.
                            li.content-list__item Промышленным фильтром очистки класс G3, клапанами с фильтром и приводами.
                            li.content-list__item Принудительной системой вентиляции.
                            li.content-list__item Система рекуперации подогревает поступающий с улицы воздух теплом, отводящимся от оборудования – зимой не придется тратить ни рубля на обогрев помещения.
                        p Контейнер рассчитан на эксплуатацию при температурах от -35°С до +35°С. Стены внутри обшиты листовом нержавеющим железом и утеплены пеноплексом толщиной 50 мм. Это предотвращает нагрев контейнера снаружи и образование конденсата внутри.
                        p Управление электропитанием и пуском после аварийных остановок полностью автоматизировано. Гарантия на контейнер для майнинга – 1 год.
                        a.services-item__btn.btn.btn-ghost(href="#") Заказать услугу

        // Форма
        include ../components/newsletter-form.pug

        // About text
        include ../components/about-block.pug 