extends ../template

block variables
    - var title = 'Главная'

block content
    main
        // класс pt-100 добавляется каждой первой секции на странице (потому что хэдэр абсолютный)
        section.temporary.pt-100
            .big-icon
                svg(width="660" height="912")
                    use(xlink:href="assets/images/sprite.svg#mining-block")
            .container
                .temporary__wrap
                    h1.temporary__title Скоро откроемся
                    a.temporary__btn.btn.btn-gradient(href="#" download)
                        svg(width="20" height="20")
                            use(xlink:href="assets/images/sprite.svg#pdf")
                        span Скачать прайс

                    .temporary__block.form-mailing
                        h2.form-mailing__title.title-second Получать рассылку
                        p.form-mailing__text Главные новости и события майнинг сферы в одном письме самым удобным способом. Никакого спама, только по делу.

                        form.form-mailing__form(action="#")
                            label.form-mailing__label
                                input.form-mailing__input(type="email" placeholder="Введите ваш email")
                            button.form-mailing__btn.btn.btn-gradient(type="submit") 
                                span Подписаться
                        p.form-mailing__note Нажимая на кнопку Подписаться, вы соглашаетесь с 
                            a(href="#") условиями обработки персональных данных