block variables

doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		link(rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon")
		link(rel="apple-touch-icon" href="assets/images/fav.png")

		link(rel="stylesheet" type="text/css" href="assets/styles/swiper-bundle.min.css")
		link(rel="stylesheet" type="text/css" href="assets/styles/accordion.min.css")
		link(rel="stylesheet" type="text/css" href="assets/styles/app.min.css")

	body
		.wrapper
			include components/header.pug

			block content

			include components/footer.pug

			.modal.modal-narrow(data-popup="question")
				.modal__container
					h2.modal__title.title-second.mb-30 Задать вопрос
					button.modal__close(type="button" aria-label="Закрыть окно" data-close-popup)
						svg(width="32" heigh="32")
							use(xlink:href="assets/images/sprite.svg#close")
					form.modal__form.form
						label.form__item
							input.form__input(type="text" name="name" placeholder="Ваше имя")
						label.form__item
							input.form__input(type="email" name="email" placeholder="Email")
						label.form__item
							input.form__input(type="tel" name="tel" placeholder="Телефон")
						label.form__item
							textarea.form__input.form__input--comment(name="message" placeholder="Сообщение")
						button.form__submit-btn.btn.btn-gradient(type="submit")
							span Отправить
						p.form__note Нажимая на кнопку Подписаться, вы соглашаетесь с 
							a(href="#") условиями обработки персональных данных

			.modal.modal-narrow(data-popup="writeus")
				.modal__container
					h2.modal__title.title-second.mb-30 Написать нам
					button.modal__close(type="button" aria-label="Закрыть окно" data-close-popup)
						svg(width="32" heigh="32")
							use(xlink:href="assets/images/sprite.svg#close")
					form.modal__form.form
						label.form__item
							input.form__input(type="text" name="name" placeholder="Ваше имя")
						label.form__item
							input.form__input(type="email" name="email" placeholder="Email")
						label.form__item
							input.form__input(type="tel" name="tel" placeholder="Телефон")
						label.form__item
							textarea.form__input.form__input--comment(name="message" placeholder="Сообщение")
						button.form__submit-btn.btn.btn-gradient(type="submit")
							span Отправить
						p.form__note Нажимая на кнопку Подписаться, вы соглашаетесь с 
							a(href="#") условиями обработки персональных данных

			.modal.modal-wide(data-popup="ordering-step-1")
				.modal__container
					h2.modal__title.title-second.mb-20 Оформление заказа
					button.modal__close(type="button" aria-label="Закрыть окно" data-close-popup)
						svg(width="32" heigh="32")
							use(xlink:href="assets/images/sprite.svg#close")
					.modal__content
						.modal__tab-nav
							button.modal__tab-btn(type="button" data-tab-id="ordering" data-tab-control="new-user") Новый пользователь
							button.modal__tab-btn(type="button" data-tab-id="ordering" data-tab-control="login") Войти в аккаунт

						form.modal__form.modal__form--intab.form(data-tab-id="ordering" data-tab-block="new-user")
							label.form__item
								input.form__input(type="text" name="name" placeholder="Ваше имя")
							label.form__item
								input.form__input(type="email" name="email" placeholder="Email")
							label.form__item
								input.form__input(type="tel" name="tel" placeholder="Телефон")
							label.form__item
								textarea.form__input.form__input--comment(name="message" placeholder="Сообщение")
							button.form__submit-btn.btn.btn-gradient(type="submit" data-popup-trigger="ordering-step-2")
								span Отправить
							p.form__note Нажимая на кнопку Подписаться, вы соглашаетесь с 
								a(href="#") условиями обработки персональных данных

						form.modal__form.modal__form--intab.form(data-tab-id="ordering" data-tab-block="login")
							label.form__item
								input.form__input(type="tel" name="tel" placeholder="Номер телефона")
							label.form__item
								input.form__input(type="password" name="password" placeholder="Пароль")
							button.form__submit-btn.btn.btn-gradient(type="submit")
								span Войти

						.modal__side.ordering
							.ordering__caption Ваш заказ
							.ordering__item
								.ordering__term Позиции в заказе:
								ul.ordering__list
									li.ordering__elem ASIC BITMAIN ANTMINER S19J PRO 100 TH/S (1)
									li.ordering__elem ASIC BITMAIN ANTMINER S19J PRO 100 TH/S (1)
							.ordering__item
								.ordering__term Предварительная сумма:
								span.ordering__elem 4 000 000 ₽
							.ordering__bot Наши менеджеры свяжуться с вами для подтверждения заказа и выбора способа доставки

			.modal.modal-wide(data-popup="ordering-step-2")
				.modal__container
					h2.modal__title.title-second.mb-20 Оформление заказа
					button.modal__close(type="button" aria-label="Закрыть окно" data-close-popup)
						svg(width="32" heigh="32")
							use(xlink:href="assets/images/sprite.svg#close")
					.modal__content
						.modal__tab-nav
							p Ваши данные для оформления заказа:

						form.modal__form.form
							label.form__item
								input.form__input(type="text" name="name" value="Иванов Иван" placeholder="Ваше имя")
							label.form__item
								input.form__input(type="email" name="email" value="ivanov@mail.ru" placeholder="Email")
							label.form__item
								input.form__input(type="tel" name="tel" value="+7 (999) 999-99-99" placeholder="Телефон")
							label.form__item
								textarea.form__input.form__input--comment(name="message" placeholder="Сообщение")
							button.form__submit-btn.btn.btn-gradient(type="submit")
								span Отправить
							p.form__note Нажимая на кнопку Подписаться, вы соглашаетесь с 
								a(href="#") условиями обработки персональных данных

						.modal__side.ordering
							.ordering__caption Ваш заказ
							.ordering__item
								.ordering__term Позиции в заказе:
								ul.ordering__list
									li.ordering__elem ASIC BITMAIN ANTMINER S19J PRO 100 TH/S (1)
									li.ordering__elem ASIC BITMAIN ANTMINER S19J PRO 100 TH/S (1)
							.ordering__item
								.ordering__term Предварительная сумма:
								span.ordering__elem 4 000 000 ₽
							.ordering__bot Наши менеджеры свяжуться с вами для подтверждения заказа и выбора способа доставки

			.modal.modal-narrow.modal-small(data-popup="logout")
				.modal__container
					h2.modal__title.title-second.mb-30 Вы действительно хотите выйти?
					button.modal__close(type="button" aria-label="Закрыть окно" data-close-popup)
						svg(width="32" heigh="32")
							use(xlink:href="assets/images/sprite.svg#close")
					.modal__btn-wrap
						button.btn.btn-violet(data-close-popup)
							span Отмена
						button.btn.btn-ghost Выйти

			.modal-overlay(aria-label="Закрыть окно" data-close-popup)

		//- https://github.com/jonathantneal/svg4everybody
		script(src="assets/scripts/svg4everybody.min.js")

		//- https://imask.js.org
		script(src="assets/scripts/imask.min.js")

		//- https://github.com/michu2k/Accordion
		script(src="assets/scripts/accordion.min.js")

		//- https://swiperjs.com/
		script(src="assets/scripts/swiper-bundle.min.js")

		//- https://github.com/nextapps-de/spotlight
		script(src="assets/scripts/spotlight.bundle.js")

		//- https://github.com/WICG/focus-visible
		script(src="assets/scripts/focus-visible.min.js")

		script(src="assets/scripts/main.js")
