.registration {
    position: relative;
    display: flex;
    // align-items: center;
    min-height: 100vh;
    height: 100%;
    background: $color-main-back;

    &__content {
        position: relative;
        max-width: 520px;
        margin-left: auto;
        margin-right: 65px;
        margin-top: 60px;
        color: $color-white;
        z-index: 1;
    }

    &__title {
        font-weight: 500;
    }

    &__img {
        width: 33%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__form {
        .form__input {
            color: $color-white;
            border-color: $color-white;

            &::placeholder {
                color: $color-white;
            }
        }

        .form__submit-btn {
            margin-top: 40px;
        }

        .form__note {
            color: $color-light-text;

            a {
                color: $color-white;
            }
        }
    }

    &__link {
        display: flex;
        column-gap: 10px;
        color: $color-white;
        margin-top: 40px;

        a {
            background: $color-main-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@media screen and (max-width: 975px) {
    .registration {
        // min-height: auto;
        overflow: hidden;

        &__content {
            max-width: 100%;
            margin: 0;
            margin-top: 40px;
        }

        &__img {
            max-width: max-content;
            width: 1150px;
            transform: translate(-55%, 51%);
        }

        &__title {
            margin-bottom: 30px;
        }

        &__form .form__submit-btn {
            width: 100%;
            margin-top: 30px;
        }
    }
}