.main-screen {
    height: 100vh;
    // background-image: url('../images/svg/ms-back.svg');
    background-image: url('../images/ms-back.png');
    // background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;

    &__title {
        margin: 0;
    }
}