.main-screen {
    min-height: 900px;
    height: 100vh;
    // background-image: url('../images/svg/ms-back.svg');
    background-image: url('../images/ms-back.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;

    .container {
        position: relative;
        height: 100%;
        padding-top: 92px;
    }

    &__text-wrap {
        max-width: 675px;
    }

    &__title {
        font-size: 70px;
        line-height: 85px;
        color: $color-white;
        margin: 0;
        margin-bottom: 40px;
    }

    &__block {
        position: absolute;
        bottom: 92px;
        right: -56px;
        z-index: 1;
    }

    &__bot {
        position: absolute;
        right: -200px;
        bottom: 0;
        fill: none;
    }
}

.producers {
    margin-top: 70px;
    margin-bottom: 109px;

    &__title {
        margin-bottom: 50px;
    }
}

.cards-list {
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    @include list-reset;

    &_col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &__link {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 20px;

        img {
            max-width: 290px;
            max-height: 290px;
            object-fit: contain;
            margin-bottom: 20px;
            z-index: 1;
        }

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-white;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            transition-property: height, top;
            transition: 150ms ease-in-out;
        }

        &:hover {
            &::before {
                height: calc(100% + 22px);
                top: -11px;
            }
        }
    }
}

.catalog-slider{
    margin-bottom: 100px;

    &__title-wrap {
        margin-bottom: 45px;
    }

    &__slider {
        position: relative;
        margin: -20px;
        padding: 20px;
        overflow: hidden;

        .swiper-container {
            overflow: visible;
        }

        .swiper-button {
            &.swiper-button-disabled {
                display: none;
            }
        }

        &.slider-w-bar {
            padding-bottom: 50px;

            .swiper-button {
                transform: translateY(-50%);
            }
        }

        .swiper-scrollbar {
            bottom: -50px;
            background: $color-progress;
        }

        .swiper-scrollbar-drag {
            background-color: $color-main;
        }
    }
}

.main-about {
    position: relative;
    color: $color-white;
    background: $color-main-back;
    // background-image: url('../images/sprite.svg#wave'), $color-main-back;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 80px;
        padding-bottom: 100px;
    }

    &__img {
        position: absolute;
        top: -35px;
        right: -75px;
        fill: none;
    }

    &__img-wave {
        position: absolute;
        bottom: 0;
    }

    &__text {
        max-width: 430px;

        p {
            margin: 0;
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        color: $color-white;
        margin-bottom: 50px;
    }

    &__btn {
        margin-top: 40px;
    }
}
.static-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 40px;
    @include list-reset;
    margin-top: 74px;

    &__term {
        font-weight: 700;
        font-size: 100px;
        line-height: 122px;
    }
}

.partners {
    background-color: $color-white;

    .container {
        padding-top: 80px;
        padding-bottom: 76px;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__slider {
        position: relative;

        .swiper-container {
            max-width: 1055px;
        }

        .swiper-button {
            transform: translateY(-50%);
            margin-top: 0;
        }

        .swiper-button-prev {
            left: -17px;
        }

        .swiper-button-next {
            right: -17px;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;

        img {
            filter: grayscale(1);
        }

        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }
}

.main-news {
    .container {
        padding-top: 120px;
    }

    .title-wb {
        margin-bottom: 63px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 500px);
        grid-auto-rows: 215px;
        column-gap: 30px;
        row-gap: 30px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $color-white;
        text-decoration: none;
        
        border-radius: 20px;
        overflow: hidden;
        padding: 20px;

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(image.png);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        p {
            margin: 0;
            margin-bottom: 10px;
            transition: background 150ms ease-in-out;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &:hover p {
            background: linear-gradient(93.17deg, #1FA2FF .68%, #12D8FA 51.27%, #A6FFCB 98.79%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__item--big {
        grid-row: 1 / span 2;
        padding: 30px 40px;
    }

    &__text-wrap {
        position: relative;
        z-index: 1;
    }

    &__time {
        display: block;
        font-size: 16px;
        line-height: 20px;
        color: $color-grey2;
        margin-bottom: 10px;
    }
}