.reviews {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include list-reset;
        column-gap: 30px;
        row-gap: 30px;
    }
}

.reviews-sort {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;

    &__btn {
        display: flex;
        align-items: center;
        column-gap: 5px;
        line-height: 20px;
        border: 1px solid $color-main;
        box-sizing: border-box;
        border-radius: 40px;
        padding: 10px 20px;
        cursor: pointer;
        white-space: nowrap;
    }

    &__num {
        color: $color-white;
        background: $color-main;
        border-radius: 20px;
        padding: 0 10px;
    }

    input:checked {
        & + .reviews-sort__btn {
            color: $color-white;
            background: $color-main;
        }

        & + .reviews-sort__btn .reviews-sort__num {
            color: $color-main;
            background: $color-white;
        }
    }
}

.reviews-item {
    display: flex;
    flex-direction: column;
    background: $color-white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 20px;

    p {
        margin: 0;
        margin-bottom: 5px;
    }

    &__link {
        display: flex;
        color: $color-main;
        margin-bottom: 25px;
    }

    &__bot {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: auto;
    }

    &__author {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__imgs {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 80px;
        column-gap: 10px;
        height: 100px;
    }

    &__text {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 975px) {
    .reviews {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .reviews-item {
        min-height: 400px;
        padding: 20px;
    }

    .reviews-sort {
        position: relative;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin: 0 -20px 50px;
        padding: 0 20px 5px;
    }
}

@media screen and (max-width: 767px) {
    .reviews-item {
        &__link {
            margin-top: 20px;
        }
    }
}