:root {
	--content-p-r: 0;
}

// Размеры
$content-max-weight: 1200px;
$content-padding: 0 16px;

// Шрифт
$font-primary: sans-serif;

//Цвета
$color-main-gradient: linear-gradient(93.17deg, #1FA2FF 0.68%, #12D8FA 51.27%, #A6FFCB 98.79%);
$color-main-back: radial-gradient(87.78% 132.53% at 24.8% -1.08%, #6100E5 0%, #4F00C7 14.16%, #2E018E 43.42%, #150264 68.53%, #07024A 88.2%, #010241 100%);
$color-main: #180269;
$color-background: #F8FBFD;
$color-dark-grey: #333333;
$color-mid-grey: #656565;
$color-grey: #949494;
$color-grey2: #B9B5B5;
$color-grey3: #8B8C96;
$color-progress: #E9E9E9;
$color-bb: #C6C6C6;
$color-white: #FFFFFF;

@import "./common/fonts.scss";
@import "./common/normalize";
@import "./common/mixins.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select,
button {
	appearance: none;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 140%;
	background-color: $color-background;
	overflow-x: hidden;
}

img {
	max-width: 100%
}

main {
	// min-height: 100vh;
	height: 1px;
	flex: 1;
}

select {
	background: none;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;

	&_narrow {
		max-width: 770px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.title-first {
	font-size: 50px;
	line-height: 61px;
	color: $color-white;
	margin: 0;
}

.title-second {
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	color: $color-dark-grey;
	margin: 0;
}

.title-wb {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__link {
		display: flex;
		align-items: center;
		column-gap: 10px;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: $color-main;
		text-decoration: none;

		&:hover {
			background: linear-gradient(93.17deg, #1FA2FF .68%, #12D8FA 51.27%, #A6FFCB 98.79%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			svg {
				stop {
                    &:first-child {
                        stop-color: #1FA2FF;
                    }
                    &:nth-child(2) {
                        stop-color: #12D8FA;
                    }
                    &:last-child {
                        stop-color: #A6FFCB;
                    }
                }
			}
		}
	}
}

.btn {
	position: relative;
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	font-weight: 600;
	border-radius: 50px;
	@include button-reset;
	padding: 15px 40px;
	overflow: hidden;
	transition: color 150ms ease-in-out;

	* {
		position: relative;
		z-index: 2; /*текст в кнопке надо оборачивать тегом*/
	}
}

.btn-gradient {
	color: $color-white;

	&::before,
	&::after {
		position: absolute;
		content: '';
		height: 100%;
		transition: width 250ms ease-in-out;
		z-index: 1;
	}

	&::before {
		width: 100%;
		left: 0;
		background: $color-main-gradient;
	}

	&::after {
		right: 0;
		width: 0;
		background: linear-gradient(93.17deg, #A6FFCB 0.68%, #12D8FA 51.27%, #1FA2FF 98.79%);
	}
	
	&:hover {
		&::before {
			width: 0;
		}
		&::after {
			width: 100%;
		}
	}
}

.btn-white {
	color: $color-main;
	background-color: $color-white;

	&::after {
		position: absolute;
		content: '';
		height: 100%;
		left: 0;
		width: 0;
		background: linear-gradient(93.17deg, #1FA2FF 0.68%, #12D8FA 51.27%, #A6FFCB 98.79%);
		transition: width 250ms ease-in-out;
		z-index: 1;
	}
	
	&:hover {
		color: $color-white;

		&::after {
			width: 100%;
		}
	}
}

.btn-ghost {
	border: 2px solid $color-main;
	color: $color-main;
	box-sizing: border-box;

	// &::after {
	// 	position: absolute;
	// 	content: '';
	// 	width: 0;
	// 	height: 100%;
	// 	left: 0;
	// 	border: 1px solid transparent;
	// 	background: linear-gradient(93.17deg, #1FA2FF 0.68%, #12D8FA 51.27%, #A6FFCB 98.79%);
	// 	transition: width 250ms ease-in-out;
	// 	z-index: 1;
	// }

	&_white{
		border: 2px solid $color-white;
		color: $color-white;
	}
	
	&:hover {
		color: $color-white;
		border: 2px solid transparent;
		background: $color-main-gradient;

		// &::after {
		// 	width: 100%;
		// }
	}
}

.btn-circle {
	border: 1px solid $color-white;
	border-radius: 100%;
	padding: 0;
	overflow: visible;
}

.link-more {
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-weight: 600;
    color: $color-main;
	text-decoration: none;

	&:hover {
		background: linear-gradient(93.17deg, #1FA2FF .68%, #12D8FA 51.27%, #A6FFCB 98.79%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		svg {
			stop {
				&:first-child {
					stop-color: #1FA2FF;
				}
				&:nth-child(2) {
					stop-color: #12D8FA;
				}
				&:last-child {
					stop-color: #A6FFCB;
				}
			}
		}
	}
}

.swiper-button {
	width: 50px;
	height: 50px;
	background: $color-main;
	border-radius: 100%;

	&::after {
		font-size: 14px;
		color: $color-white;
	}
}

.swiper-button-prev {
	left: 0px;
}
.swiper-button-next {
	right: 0px;

	&::after {
		padding-left: 5px;
	}
}

.select {
	position: relative;

	select {
		background: none;
		border: 1px solid $color-main;
		box-sizing: border-box;
		border-radius: 40px;
		padding: 10px 20px;
		padding-right: 39px;
		cursor: pointer;
	}

	&::after {
		position: absolute;
		content: '';
		top: 50%;
		right: 20px;
		width: 14px;
		height: 14px;
		background-image: url('../images/sprite.svg#arrow-down');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transform: translateY(-50%);
		pointer-events: none;
	}
}

.pt-100 {
	padding-top: 100px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-120 {
	margin-bottom: 120px;
}

@media screen and (max-width: 767.98px) {
	.title-second {
		font-size: 26px;
		line-height: 32px;
	}
}

// components
@import "./common/header.scss";
@import "./common/footer.scss";
@import "./common/form-mailing.scss";
@import "./common/card-item.scss";
@import "./common/about-block.scss";
@import "./common/breadcrumbs.scss";
@import "./common/news-card.scss";
@import "./common/newsletter-form.scss";

//pages
@import "./pages/index.scss";
@import "./pages/temporary.scss";
@import "./pages/main.scss";
@import "./pages/catalog.scss";
@import "./pages/catalog-item.scss";
@import "./pages/news.scss";
@import "./pages/news-item.scss";
@import "./pages/faq.scss";

@keyframes downup {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(5%);
	}
}

@keyframes updown {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-5%);
	}
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
	
}