:root {
	--content-p-r: 0;
}

// Размеры
$content-max-weight: 1200px;
$content-padding: 0 16px;

// Шрифт
$font-primary: sans-serif;

//Цвета
$color-main: #180269;
$color-dark-grey: #333333;
$color-grey: #949494;
$color-white: #FFFFFF;

@import "./common/fonts.scss";
@import "./common/normalize";
@import "./common/mixins.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select,
button {
	appearance: none;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

body {
	font-family: "Montserrat", sans-serif;
	// font-size: 14px;
	// line-height: 140%;
}

img {
	max-width: 100%
}

main {
	// min-height: 100vh;
	height: 1px;
	flex: 1;
}

select {
	background: none;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;

	&__narrow {
		max-width: 700px;
	}

	&__narrow--center {
		margin: 0 auto;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.title-first {
	font-size: 50px;
	line-height: 61px;
	color: $color-white;
	margin: 0;
}

.title-second {
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	color: $color-dark-grey;
	margin: 0;
}

.btn {
	position: relative;
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	border-radius: 50px;
	@include button-reset;
	padding: 15px 40px;
	overflow: hidden;
	transition: color 200ms ease-in-out;

	* {
		position: relative;
		z-index: 2; /*текст в кнопке надо оборачивать тегом*/
	}
}

.btn-gradient {
	color: $color-white;

	&::before,
	&::after {
		position: absolute;
		content: '';
		height: 100%;
		transition: width 250ms ease-in-out;
		z-index: 1;
	}

	&::before {
		width: 100%;
		left: 0;
		background: linear-gradient(93.17deg, #1FA2FF 0.68%, #12D8FA 51.27%, #A6FFCB 98.79%);
	}

	&::after {
		right: 0;
		width: 0;
		background: linear-gradient(93.17deg, #A6FFCB 0.68%, #12D8FA 51.27%, #1FA2FF 98.79%);
	}
	
	&:hover {
		&::before {
			width: 0;
		}
		&::after {
			width: 100%;
		}
	}
}

.btn-white {
	font-weight: 600;
	color: $color-main;
	background-color: $color-white;

	&::after {
		position: absolute;
		content: '';
		height: 100%;
		left: 0;
		width: 0;
		background: linear-gradient(93.17deg, #1FA2FF 0.68%, #12D8FA 51.27%, #A6FFCB 98.79%);
		transition: width 250ms ease-in-out;
		z-index: 1;
	}
	
	&:hover {
		color: $color-white;

		&::after {
			width: 100%;
		}
	}
}

.btn-ghost {
	border: 1px solid $color-white;
	color: $color-white;

	&::after {
		position: absolute;
		content: '';
		height: 100%;
		left: 0;
		width: 0;
		border: 1px solid transparent;
		background: linear-gradient(93.17deg, #1FA2FF 0.68%, #12D8FA 51.27%, #A6FFCB 98.79%);
		transition: width 250ms ease-in-out;
		z-index: 1;
	}
	
	&:hover {
		&::after {
			width: 100%;
		}
	}
}

.btn-circle {
	border: 1px solid $color-white;
	border-radius: 100%;
	padding: 0;
	overflow: visible;
}

.pt-100 {
	padding-top: 100px;
}

@media screen and (max-width: 767.98px) {
	.title-second {
		font-size: 26px;
		line-height: 32px;
	}
}

// components
@import "./common/header.scss";
@import "./common/footer.scss";
@import "./common/form-mailing.scss";

//pages
@import "./pages/index.scss";
@import "./pages/temporary.scss";
@import "./pages/main.scss";
