section.about-block.mb-100
    .container
        p.about-block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices et luctus neque, ultricies aliquam odio. Gravida diam id dictum sed faucibus. Sed nunc cras egestas elementum, a tortor at. Egestas nibh nulla odio sed pellentesque morbi tortor id eget. Sollicitudin vestibulum mus praesent auctor. Pellentesque euismod arcu mattis nec. Maecenas id metus, in suscipit. Eu nunc donec maecenas massa ridiculus neque. Risus pellentesque gravida netus in pellentesque.