section.assort-block.mb-100
    .container
        .assort-block__wrap
            .assort-block__content
                h2.assort-block__title.title-second.mb-40 Подберем лучшее оборудование по Вашим запросам
                p Заполните форму и получите онлайн-подбор оборудования для майнинга
                img.assort-block__img(src="assets/images/web-l7.png" alt="")
                a.assort-block__btn.btn.btn-gradient(href="#")
                    span Запросить подбор