ul.breadcrumbs
    li.breadcrumbs__item
        a.breadcrumbs__link(href="#") Главная
    li.breadcrumbs__item
        span /
    li.breadcrumbs__item
        span.breadcrumbs__current-link Какой-то уровень