footer.footer
    .container
        .footer__top
            .footer__col
                a.footer__logo(href="/")
                    svg(width="140" height="21")
                        use(xlink:href="assets/images/sprite.svg#logo")
                ul.footer__social.social-list
                    li.social-list__item
                        a.social-list__link(href="#")
                            svg(width="10" height="18")
                                use(xlink:href="assets/images/sprite.svg#facebook")
                    li.social-list__item
                        a.social-list__link(href="#")
                            svg(width="18" height="10")
                                use(xlink:href="assets/images/sprite.svg#vkontakte")
                    li.social-list__item
                        a.social-list__link(href="#")
                            svg(width="18" height="18")
                                use(xlink:href="assets/images/sprite.svg#instagram")
            
            ul.footer__nav-list
                li.footer__nav-item
                    a.footer__nav-link(href="#") Каталог
                li.footer__nav-item
                    a.footer__nav-link(href="#") О компании
                li.footer__nav-item
                    a.footer__nav-link(href="#") Новости
                li.footer__nav-item
                    a.footer__nav-link(href="#") Контакты
                li.footer__nav-item
                    a.footer__nav-link(href="#") Услуги
                li.footer__nav-item
                    a.footer__nav-link(href="#") FAQ 
                li.footer__nav-item
                    a.footer__nav-link(href="#") Отзывы
                li.footer__nav-item
                    a.footer__nav-link(href="#") Производители
                li.footer__nav-item
                    a.footer__nav-link(href="#") Сравнение

            .footer__col
                a.footer__tel(href="tel:+79999999999") +7 (999) 999-99-99
                button.footer__btn.btn.btn-white(type="button" data-popup-trigger="writeus")
                    span Заказать звонок

        .footer__bot
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#") Политика конфиденциальности
                li.footer__item
                    a.footer__link(href="#") Пользовательское соглашение
