.card {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 410px;
    transition: min-width 150ms ease-in-out;

    &:hover {
        min-width: calc(100% + 20px);
        
        .card__wrap {
            min-height: 428px;
            transform: translate(-10px, 0px);
        }
        
        img {
            // height: 0;
            display: none;
        }

        .card__tags {
            display: none;
        }

        .card__info {
            visibility: visible;
        }

        .card__name {
            margin-top: 30px;
        }

        .card__bot {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;

            .card__btn {
                display: none;
            }

            .card__onhover-btn {
                display: flex;
                width: 100%;
            }
        }
    }

    &__wrap {
        width: 100%;
        position: absolute;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: $color-white;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        text-decoration: none;
        padding: 20px;
        transition: min-height 150ms ease-in-out;

        img {
            max-width: 250px;
            max-height: 250px;
            width: 100%;
            object-fit: contain;
            transition: height 150ms ease-in-out;
            z-index: 1;
        }
    }

    &__top {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
        row-gap: 5px;

        span {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: $color-main;
            border: 1px solid $color-main;
            box-sizing: border-box;
            border-radius: 30px;
            padding: 5px 10px;
        }
    }

    &__btns {
        display: flex;
        align-items: flex-start;
        column-gap: 10px;
        margin-left: auto;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        @include button-reset;
        border: 1px solid $color-main;
        box-sizing: border-box;
        border-radius: 100%;

        &:hover, &.active {
            background-color: $color-main;

            svg {
                --card-btns: #{$color-white};
            }
        }
    }

    &__info {
        position: absolute;
        top: 95px;
        display: grid;
        row-gap: 15px;
        @include list-reset;
        visibility: hidden;
        z-index: 1;
    }

    &__info-item {
        display: grid;
        row-gap: 5px;
        font-size: 14px;
        line-height: 17px;
    }

    &__info-term {
        color: $color-grey3;
    }

    &__info-desc {
        font-weight: 500;
        color: $color-main;
    }

    &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $color-dark-grey;
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }

    &__bot {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .card__btn {
            --cart-color: #{$color-main};
            width: 50px;
            height: 50px;
        }
    }

    &__price {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $color-main;
    }

    &__onhover-btn {
        display: none;
    }
}
