.form-mailing {
    font-size: 16px;
    line-height: 20px;

    &__title {
        color: $color-white;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
    }

    &__form {
        position: relative;
        max-width: 483px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
    }

    &__label {
        position: relative;
        display: block;
        flex: 1;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border: 2px solid transparent;
            background: linear-gradient(
                            93.17deg,
                            #1fa2ff 0.68%,
                            #12d8fa 51.27%,
                            #a6ffcb 98.79%
                        )
                        border-box;
            -webkit-mask: linear-gradient(#fff 0 0) padding-box,
                        linear-gradient(#fff 0 0);
            -webkit-mask-composite: source-out;
                    mask-composite: exclude;
            border-radius: 40px;
            pointer-events: none;
            box-sizing: border-box;
        }
        
        &.error::before {
            background: red;
        }
        &.success::before {
            background: green;
        }
    }

    &__input {
        width: 100%;
        color: $color-white;
        @include input-reset;
        padding: 15px 20px;

        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &__btn {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        padding: 15px 30px;

        &:disabled::before,
        &:disabled::after,
        &.disabled::before,
        &.disabled::after {
            background: $color-grey;
        }
    }

    &__response {
        position: absolute;
        top: -30px;
        display: none;
        font-size: 12px;
        margin-top: 10px;
        padding: 0 20px;
    }

    &__note {
        max-width: 483px;
        font-size: 14px;
        line-height: 17px;
        color: $color-grey;
        margin: 0;
        margin-top: 20px;

        a {
            color: $color-white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .form-mailing {
        &__label {
    
            &::before {
                border: 1px solid transparent;
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .form-mailing {
        &__title {
            margin-bottom: 10px;
        }

        &__text {
            font-size: 14px;
            line-height: 17px;
        }

        &__form {
            max-width: 100%;
            flex-direction: column;
            row-gap: 10px;
            margin-top: 30px;

            &::before {
                display: none;
            }
        }

        &__label {
            width: 100%;
        }

        &__btn {
            position: relative;
            top: 0;
            width: 100%;
        }

        &__note {
            font-size: 12px;
            line-height: 130%;
        }
    }
}
