.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: min-content;
    background-color: $color-white;
    border-radius: 20px;
    transform: translateY(-100%);
    visibility: hidden;
    margin: auto;
    z-index: 123;

    &.active {
        transform: translate(0);
        visibility: visible;
        animation: bounce 0.5s;
    }

    &.modal-narrow {
        max-width: 600px;
        padding: 30px 50px;
    }
    &.modal-wide {
        max-width: 1200px;
        padding: 50px;
    }

    &.modal-small {
        padding: 100px 50px;

        .modal__title {
            text-align: center;
        }
    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        display: flex;
        @include button-reset;
        transition: transform 250ms cubic-bezier(0, 0.01, 0.95, 0.49);

        &:hover {
            transform: rotate(180deg);
        }
    }

    &__content {
        display: grid;
        grid-template-columns: minmax(auto, 480px) 1fr;
        align-items: flex-start;
        column-gap: 70px;
        row-gap: 30px;
    }

    &__tab-nav {
        display: flex;
        column-gap: 40px;
        grid-column: 1 / -1;

        p {
            margin: 0;
        }
    }

    &__tab-btn {
        display: flex;
        color: $color-dark-grey;
        @include button-reset;
        padding-bottom: 5px;

        &.active {
            font-weight: 500;
            color: $color-main;
            border-bottom: 1px solid $color-main;
        }

        &:hover {
            color: $color-main;
        }
    }

    &__form--intab {
        display: none;

        &.active {
            display: block;
        }
    }

    &__side {
        background-color: $color-superlightgrey;
        border-radius: 20px;
        padding: 40px;
    }
}

.ordering {
    &__caption {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        color: $color-dark-grey;
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__term {
        font-size: 18px;
        line-height: 22px;
        color: $color-grey3;
        margin-bottom: 20px;
    }

    &__list {
        display: grid;
        row-gap: 10px;
        @include list-reset;
    }

    &__elem {
        font-weight: 600;
        color: $color-main;
    }

    &__bot {
        border-top: 1px solid #c2c2c2;
        padding-top: 30px;
        margin-top: 30px;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 450ms ease-in-out;
    opacity: 0;
    z-index: 100;

    &.active {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-100%);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-mob {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1023px) {
    .modal {
        // top: 100px;
        height: auto;
        overflow-y: auto;
        border-radius: 20px 20px 0 0;
        transform: translateY(100%);

        &.active {
            // transform: translateY(10%);
            animation: bounce-mob 0.5s;
        }

        &.modal-narrow {
            max-width: 100%;
            padding: 30px 20px 40px;
        }

        &.modal-wide {
            padding: 30px 20px 20px;
        }

        &__content {
            grid-template-columns: 1fr;
            row-gap: 50px;
        }
    }
}
