.newsletter {
    position: relative;
    min-height: 510px;
    background: $color-main-back;
    overflow: hidden;

    .container {
        padding-top: 70px;
    }

    &__img {
        max-width: 50%;
        position: absolute;
        top: -150px;
        right: 0;
    }

    &__content {
        position: relative;
        max-width: 580px;
        z-index: 1;
    }
}

@media screen and (max-width: 767px) {
    .newsletter {
        min-height: auto;

        .container {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__img {
            display: none;
        }
    }
}